﻿@{
    ViewBag.Title = "Home Page";
}

@model C2Metadata.Web.Models.DataToTranslate

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
<br />
<div class="row">
    @*<div class="row">
        <my-app>Loadings...</my-app>
    </div>*@
    <div class="col-md-6">
        <div class="row box-s">
            <div class="div1">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @name = "convertform", enctype="multipart/form-data" }))
                {
                    <nav class="navbar outer-nav">
                        <div class="container">
                            <ul class="nav navbar-nav">
                                <li class="hoverlist">
                                    <label for="file-upload" class="filelabel">
                                        <svg fill="#FFFFFF" height="18" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg" class="make-middle">
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z" />
                                        </svg> @*Upload <input type="file" id="fileupload" name="file" class="btn btn-danger" />*@
                                        <i class="fa fa-cloud-upload"></i> SPS
                                    </label>
                                    <input id="file-upload" name="file" type="file" style="display:none;">
                                </li>
                                <li class="hoverlist">
                                    <label for="json-upload" class="filelabel">
                                        <svg fill="#FFFFFF" height="18" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg" class="make-middle">
                                            <path d="M0 0h24v24H0z" fill="none" />
                                            <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z" />
                                        </svg> @*Upload <input type="file" id="fileupload" name="file" class="btn btn-danger" />*@
                                        <i class="fa fa-cloud-upload"></i> JSON
                                    </label>
                                    <input id="json-upload" name="json_file" type="file" style="display:none;">
                                </li>
                                <li class="hoverlist">
                                    <label class="filelabel">
                                        <svg fill="#FFFFFF" height="18" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg" class="make-middle">
                                            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
                                            <path d="M0 0h24v24H0z" fill="none" />
                                        </svg>
                                        @Html.ActionLink("JSON", "DownloadJSON", "Home", new { @id="download-btn"})
                                    </label>
                                </li>
                                <li class="hoverlist">
                                    <label class="filelabel">
                                        <svg fill="#FFFFFF" height="18" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg" class="make-middle">
                                            <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z" />
                                            <path d="M0 0h24v24H0z" fill="none" />
                                        </svg>
                                        @Html.ActionLink("Xml", "DownloadXml", "Home", new { @id = "download-btn" })
                                    </label>
                                </li>
                            </ul>
                            <input class="btn btn-success navbar-btn convert" type="submit" name="submit1" value="Convert" />
                        </div>
                    </nav>
                    @Html.TextAreaFor(m => m.data, 11, 100, new { @class = "resizer", @id="fileContent"});
                    <br />
                }
            </div>
        </div>
        <div class="row box-s-mg">
            <div class="div2 dropdown">
                <my-app data="@ViewBag.Data">
                    Loading...
                </my-app>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="context-div box-s">
            <my-context>Start by importing or pasting code</my-context>
        </div>
    </div>
</div>
