﻿<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/node_modules/core-js/client/shim.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/system.config.js"></script>
    <script>
        System.import('app').then(null, console.error.bind(console));
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top my-nav">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("C2Metadata", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @id = "nav-text" })
            </div> 
            <div class="dwl-dropdown">
                <button class="dropbtn" id="dd-btn">
                    Download
                    <i class="down"></i>
                </button>
                <div class="dropdown-content" id="myDropdown">
                    <a href="http://ci.appveyor.com/api/projects/JeremyIverson/sdtl-reader/artifacts/src/SdtlReader.Wpf.Wix/bin/Debug/SDTL-Reader-Setup.exe">Windows</a>
                    <a href="" onclick="openPopup(); return false;">Mac OS</a>
                </div>
            </div>
            @*<a class="navbar-brand" id="nav-right" href="http://ci.appveyor.com/api/projects/JeremyIverson/sdtl-reader/artifacts/src/SdtlReader.Wpf.Wix/bin/Debug/SDTL-Reader-Setup.exe">Windows</a>*@
        </div>
    </div>
    @* This is the pop up letting user know the mac version is not available *@
    <div id="popmodal" class="popup">
        <div class="popup-content">
            <div class="popup-header">
                <span class="close">&times;</span>
                <h2>Currently in Progress</h2>
            </div>
            <div class="popup-body">
                <p>Software for MAC OS is currently in progress, will be available soon</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/customfeature.js"></script>
</body>
</html>
