﻿@{
    ViewData["Title"] = "Home Page";
}

@model C2Metadata.Web.Models.DataToTranslate

<div class="viewdiv">

    <h1>Transform Detector</h1>
    <p>Paste source code below to generate SDTL JSON.</p>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#spss-content" aria-controls="spss-content" role="tab" data-toggle="tab">SPSS</a></li>
        <li role="presentation"><a href="#r-content" aria-controls="r-content" role="tab" data-toggle="tab">R</a></li>


    </ul>

    <div class="tab-content">

        <div class="tab-pane active" id="spss-content" role="tabpanel" aria-labelledby="spss-tab">
            @using (Html.BeginForm("Spss", "Home", FormMethod.Post, new { @name = "convertform" }))
            {
                @*<textarea id="TextArea1" cols="100" rows="30" ></textarea>*@
                @Html.TextAreaFor(m => m.data, 30, 100, new { @class = "resizer" });
                <br />
                <input type="submit" name="submit1" value="Convert" />
            }
        </div>

        <div class="tab-pane" id="r-content" role="tabpanel" aria-labelledby="r-tab">
            @using (Html.BeginForm("R", "Home", FormMethod.Post, new { @name = "convertform" }))
            {
                @*<textarea id="TextArea1" cols="100" rows="30" ></textarea>*@
                @Html.TextAreaFor(m => m.data, 30, 100, new { @class = "resizer" });
                <br />
                <input type="submit" name="submit1" value="Convert" />
            }
        </div>

    </div>


</div>
